body {
    font-family: Arial, sans-serif;
    background-color: #2ddcf0;
    margin: 0;
    padding: 0;
    }

    main img {
        display: block;
        margin: 20 auto;
        padding-bottom: 50px;
        }
        h1 {
            color: #333;
            text-align: justify;
            margin: 20 auto;
            padding: 20px;
            }
        p {
            text-align: justify;
            margin: 20 auto;
            padding: 20px;
              }